<div class="container-fluid">
  <img class="porron" src="./images/header.jpg" alt="">
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-3 offset-lg-2">
      <p>Cereveceria Beer para creer</p>
      <h1>Las mejores cervezas</h1>
      <p>Más de 80 apasionados por la cerveza artesanal que se esmeran día a día para hacer
        las cervezas más ricas, mejorar la calidad, ser innovadores, creativos y brindarle
        a nuestros clientes más de lo que esperan. </p>
    </div>
  </div>
</div>
<div class="row my-3">
  <div id="novedades" class="col-md-5 offset-md-2 py-3">
    <h2>Novedades</h2>
    <ul class="lista-novedades">
      <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="./images/novedades01.jpg"
            alt="cerveza"> Lager </a></li>
      <li><a href="#"><img src="./images/novedades01.jpg" alt="cerveza"> ale </a></li>
      <li><a href="#"><img src="./images/novedades01.jpg" alt="cerveza"> Stout Ipa </a></li>
      <li><a href="#"><img src="./images/novedades01.jpg" alt="cerveza"> Bock Ipa </a></li>
      <li><a href="#"><img src="./images/novedades01.jpg" alt="cerveza"> Green Ipa </a></li>
    </ul>
  </div>
  <div class="col-md-3 my-3">
    <div class="rounded py-5 testimonios">
      <h2 class="text-center">Testimonios</h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="Testimonio">
              <h5>La mejor birra del mundo</h5>
              <p>Raku de Pacheco</p>
              {{!-- <img src="" class="d-block w-100" alt=""> --}}
            </div>
          </div>
          <div class="carousel-item">
            <div class="Testimonio">
              <h5>Bien amarga, justo lo que buscaba</h5>
              <p>Noemi de San Justo</p>
              {{!-- <img src="" class="d-block w-100" alt=""> --}}
            </div>
          </div>
          <div class="carousel-item">
            <div class="Testimonio">
              <h5>Excelente lugar y atención, bandas en vivo</h5>
              <p>Sarah de José C. Paz</p>
              {{!-- <img src="" class="d-block w-100" alt=""> --}}
            </div>
          </div>


          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1340px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/historia_1.jpg" class="img-fluid rounded-start" alt="cervezas">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Nuestra Cerveza</h3>
        <p class="card-text">Con diseño propio en las maquinarias, la cerveza es elaborada de forma artesanal
          respetando la receta tradicional y manteniendo el edicto de pureza (Reinheitsgebot) dictado por
          Guillermo IV de Baviera .

          100% cebada cervecera malteada, utilizando levaduras de tipo Lager, lúpulo de la patagonia
          Argentina y el agua de las sierras cordobesas, respectando el edicto de pureza Reinheitsgebot
          del año 1516. Esta combinación da como resultado una cerveza de cualidades y sabores particulares.
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!-- cards -->
<div class="card-group scroll_section" id="quienes somoss">
  <div class="card">
    <img src="/images/nosotros01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Parásitos:</h5>
      <p class="card-text">Los gatos y perros deben tratarse contra parásitos internos cada 3 meses, y muy
        especialmente cuando son cachorros, y antes de vacunarse. También existen parásitos externos, como pulgas y
        garrapatas que se erradican utilizando productos apropiados. Será mejor que lo consultes con el veterinario.
        Así tendremos a nuestro amigo limpio por dentro y por fuera.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/images/nosotros02.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vacunas:</h5>
      <p class="card-text">Lo primero que debes saber, es que si tu animal de compañía no está vacunado no puede
        entrar en contacto con otros animales ni con el exterior durante los dos primeros meses de vida. El plan de
        vacunación variará en función de la raza, estado inmunológico y estilo de vida. Lo diseñará nuestro
        veterinario y podrás comprobar lo beneficiosas que resultan para evitar enfermedades como parvovirosis,
        moquillo o hepatitis canina, en el caso de los perros, y otras como calicivirus, panleucopenia,
        rinotraqueítis, en el caso de los gatos.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="ultimo" src="/images/nosotros03.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Esterilización:</h5>
      <p class="card-text">La esterilización es una práctica recomendada. En el caso de los machos, la castración
        disminuye las peleas con otros perros, las fugas de casa, incluso tendencias como marcar con orina o montar.
        En el caso de las hembras te tranquilizará saber que la esterilización elimina el celo, la posibilidad de
        pseudogestación, reduce la incidencia de tumores de mama, así como los maullidos y otras conductas propias del
        celo. Esta operación no provoca cambios de humor en el animal y resulta ser muy común y sin riesgos. Consulta
        con tu veterinario sobre las mejores fechas para realizarla y recuerda que un perro y un gato esterilizado
        evita camadas indeseadas que en nuestro país supone un 15% de los animales que han sido abandonados.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<!-- cards -->
<!-- mapa -->
<div id="visitanos" class="row py-4 scroll_section">
  <div class="col-md-4 offset-md-2">
    <h2>Visitanos</h2>
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.219236464603!2d-58.42459226994327!3d-34.5986173179646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses!2sar!4v1658975164503!5m2!1ses!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
<!-- mapa -->
<!-- layout -->
<section class="formulario">
  <form class="row g-3" action="/" method="post">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="Email">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4" name="Contraseña">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="Dirección">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Dirección2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="Dirección2">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Localidad</label>
      <input type="text" class="form-control" id="inputCity" name="Localidad">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Provincia</label>
      <select id="inputState" class="form-select" name="Provincia">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Cod. Postal</label>
      <input type="text" class="form-control" id="inputZip" name="Cod. Postal">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
  <p>{{message}}</p>
</section>

<!-- layout -->