#home {
  position: absolute;
  top: 170px;
  color: white;
  
}
.porron {
  position: relative;
  left: -12px;
  margin-right: -12px;
 
}
.lista-novedades {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lista-novedades li {
  margin: 4px 0;
}

.lista-novedades li a {
  background-color: #fff;
  font-family: 'Alfa Slab One', cursive;
  text-decoration: none;
  font-size: 1.2rem;
  color: #a0a0a0;
  transition: all .2s ease-in-out;
  display: block;
}

.lista-novedades li a:hover {
  color: #212529;
  background-color: #dadada;
}

.lista-novedades li a img {
  width: 120px;
  height: 50px;
  filter: grayscale();
  transition: all .2s ease-in-out;
  margin-right: 1rem;
  opacity: 0.7;
}

.lista-novedades li a:hover img {
  filter: none;
  margin-right: 1.4rem;
  opacity: 1;
}
.Testimonios {
  background-color: #a0a0a0;
  padding-bottom: 4rem !important;
}

.Testimonio {
  text-align: center;
  padding: 50px 20px;
  background-color: #a0a0a0;
}
.mb-3 {
  display: flex;
  margin-left: 300px;

}

.formulario {
  position: absolute;
  left: 850px;
  top: 2500px;
}
.mapa {
  position: relative;
  top: 20px;
  left: -220px;
  
}

.fundadores {

  height: 800px;
  width: 1000px;
}

.sect {

  margin-top: 55px;
  display: inline-block;
  width: 1020px;
  height: 820px;
  background-color: rgb(36, 50, 50);
}

.aside {
  position: absolute;
  display: inline-block;
  margin-top: 55px;
  height: 820px;
  width: 900px;
  background-color: rgb(205, 216, 212);
  text-align: center;
  font-family: 'Ibarra Real Nova', regular;
  font-size: 31px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.d-block {
  height: 500px;
}

.Lager {
  color: white;
  font-size: 45px;
  -webkit-text-stroke: 2px black;

}

.descripcion {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  display: block;
  -webkit-text-stroke: 2px black;
}

.Ale {
  color: white;
  font-size: 45px;
  -webkit-text-stroke: 2px black;
}

.Ipa {
  color: white;
  font-size: 45px;
  -webkit-text-stroke: 2px black;
}

.nuestra {
  text-align: center;
}

.cerveza {
  text-align: center;
}

.mb-3 {
  display: flex;
  margin-left: 500px;

}
p {
  font-size: 23px;
}